*{
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1{
    text-align: center;
    color: #007bff;
}

.container{
    max-width: 900px;
    margin: auto;
}

.form-section, .table-section, .summary-section{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input{
    padding: 10px;
    margin: 5px 0;
    width: 95%;
}

button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}